registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=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
config_registry=https://registry.npmjs.org/
execpath=/Users/phathag/Library/pnpm/.tools/pnpm/10.10.0/node_modules/pnpm/bin/pnpm.cjs
config_frozen_lockfile=
config_verify_deps_before_run=false
package_json=/Users/phathag/workspace/cosmology/agentic-tools/package.json
command=run-script
lifecycle_event=release
package_name=@hyperweb/mcp-server
config_node_gyp=/Users/phathag/Library/pnpm/.tools/pnpm/10.10.0/node_modules/pnpm/dist/node_modules/node-gyp/bin/node-gyp.js
package_version=0.1.0
lifecycle_script=semantic-release --dry-run
config_user_agent=pnpm/10.10.0 npm/? node/v22.13.1 darwin arm64
node_execpath=/Users/phathag/.nvm/versions/node/v22.13.1/bin/node
config_config_verify_deps_before_run=
config_lifecycle_script=semantic-release --dry-run
config_package_bin={"hyperweb_mcp_server":"./build/index.js"}
config_execpath=/Users/phathag/Library/pnpm/.tools/pnpm/10.10.0/node_modules/pnpm/bin/pnpm.cjs
config_node_execpath=/Users/phathag/.nvm/versions/node/v22.13.1/bin/node
config_config_frozen_lockfile=
config_config_registry=https://registry.npmjs.org/
config_package_version=0.1.0
config_command=run-script
config_lifecycle_event=release
config_package_name=@hyperweb/mcp-server
config_config_user_agent=pnpm/10.10.0 npm/? node/v22.13.1 darwin arm64
config_config_node_gyp=/Users/phathag/Library/pnpm/.tools/pnpm/10.10.0/node_modules/pnpm/dist/node_modules/node-gyp/bin/node-gyp.js
config_package_json=/Users/phathag/workspace/cosmology/agentic-tools/package.json

[package_bin]
hyperweb_mcp_server=./build/index.js
